body{font: 12px normal 宋体,新宋体,Verdana, Arial, Helvetica, sans-serif;margin: 0;padding: 0;background-color: #1C1C1C;}
a: link{color: #333333;text-decoration: none;}
a: visited{color: #333333;text-decoration: none;}
a: hover{color: #3163B6;text-decoration: underline;}
a: active{color: #3163B6;text-decoration: none;}
img{border-width: 0px 0px 0px 0px}
h1{font: 4.7em normal 宋体, '新宋体', Times, serif;color: #333;margin: 0;padding: 5px 0;}
h1 small{font: 0.2em normal 宋体,新宋体,Verdana, Arial, Helvetica, sans-serif;text-transform: uppercase;letter-spacing: 1.5em;display: block;color: #fff;}
.container{width: 970px;margin: 0 auto;}
.ads{background-color: #000000;border: 1px solid #000000;margin-left: 2px;padding: 0px 0px 0px 0px;float: left;width: 246px;height: 600px;color: #3163B6;}
.Winsows{background-color: #000000;border: 1px solid #000000;padding: 0px 0px 0px 0px;float: left;width: 700px;height: 600px;color: #3163B6;}
.T{background-color: #000000;border: 1px solid #000000;padding: 0px 0px 0px 0px;float: left;width: 700px;height: 50px;color: #3163B6;}