* {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
BODY {
	BACKGROUND: #2a2a2a
}
#top {
	BORDER-BOTTOM: #f60 3px solid; BACKGROUND: #222; HEIGHT: 40px
}
#top UL {
	MARGIN: 0px auto; WIDTH: 970px
}
#top LI {
	FLOAT: left; HEIGHT: 40px; BORDER-RIGHT: #333 1px solid
}
#top LI A {
	PADDING-BOTTOM: 13px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; COLOR: #eee; PADDING-TOP: 13px
}
#top LI A:hover {
	BACKGROUND: #ff6c00
}
#top .top_hover A {
	BACKGROUND: #f60; COLOR: #fff
}
#top .top_hover A:hover {
	BACKGROUND: #f60; COLOR: #fff
}
#top .top_right {
	FLOAT: right
}
#top2 {
	MARGIN: 10px auto; WIDTH: 960px; HEIGHT: 80px
}
HTML {
	SCROLLBAR-ARROW-COLOR: #000; SCROLLBAR-FACE-COLOR: #666; SCROLLBAR-DARKSHADOW-COLOR: #292929; MARGIN-BOTTOM: 1px; HEIGHT: 100%; SCROLLBAR-HIGHLIGHT-COLOR: #000; SCROLLBAR-SHADOW-COLOR: #000; SCROLLBAR-TRACK-COLOR: #1e1f21; SCROLLBAR-3DLIGHT-COLOR: #373739
}
.site-info {
	BORDER-BOTTOM: #444 1px solid; BORDER-LEFT: #444 1px solid; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: #333; BORDER-TOP: #444 1px solid; BORDER-RIGHT: #444 1px solid
}