<cmp 
	counter = ""
	javascript = ""
	name = "520影视网-期待影院"
	link = "http://qq578975936.blog.163.com/"
	link_target = "_blank"
	description = ""
        video_image="{src:plugins/3.swf,xywh:[-40C,-50C,0,0]}"
	logo = "{src:,xywh:[10,10,0,0]"
	logo_alpha = "0.5"
	skins = "skins/qq396013905.swf"
	plugins= "plugins/q396013905.swf,{src:plugins/1.swf,xywh:[5,5,0,0]},{src:plugins/2.swf,xywh:[175R,-13R,0,0]},{src:plugins/0.swf,xywh:[580R,6R,0,0]}"
	backgrounds = ""
	lists = "swf/0.swf"

	src_handler = "" 
	lrc_handler = ""
	skin_id = "1"
	play_id = ""
	auto_play = "1"
        play_mode="1"
        click_play = "1"
	list_delete = ""
        list_error="0"
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
        category_config ="%3Ccategory%20width%3D'95'%20row_height%3D'22'%20align%3D'left'%20color%3D'%23ffffff%2C%2300ff00'%20size%3D'13'%20font%3D'Verdana'%20bold%3D'1%2C1'%20leftMargin%3D'3'%20rightMargin%3D'3'%20shadow%3D'1%2C90%2C%23000000%2C1%2C2%2C2%2C1%2C1'%3E%0A%20%20%3Citem%20label%3D'%E6%B5%81%E8%A1%8C%E9%9F%B3%E4%B9%90'%20lists%3D'swf%2F1.swf'%20skin_id%3D'1'%20%2F%3E%0A%20%20%3Citem%20label%3D'%E6%90%9E%E7%AC%91%E8%A7%86%E9%A2%91'%20lists%3D'swf%2F2.swf'%20skin_id%3D'1'%20%2F%3E%0A%20%3Citem%20label%3D'%E7%BB%8F%E5%85%B8%E7%94%B5%E5%BD%B1'%20lists%3D'swf%2F3.swf'%20skin_id%3D'1'%20%2F%3E%0A%20%20%3Citem%20label%3D'%E6%96%B0%E7%94%B5%E8%A7%86%E5%89%A7'%20lists%3D'swf%2F4.swf'%20skin_id%3D'1'%20%2F%3E%0A%3C%2Fcategory%3E%20" 

       weather_xywh = "430R,2R,38,38"
    ads="{src:plugins/5.swf,link:,link_target:_blank,width:450,height:300,onstate:paused,target:video}"
        announce_xywh = "380,6,92P,20"
        announce_speed = "1"
        announce_content = "%3Ca%20target%3D'_blank'%20href%3D'http%3A%2F%2Fqq578975936.blog.163.com'%3E%3Cfont%20color%3D'%23ff0000'%3E%3Cb%3E%E9%AB%98%E6%B8%85%E6%97%A0%E7%A0%81%E7%94%B5%E5%BD%B1%EF%BC%88%E7%AB%8B%E5%8D%B3%E6%92%AD%E6%94%BE%EF%BC%89%3C%2Fb%3E%3C%2Ffont%3E%20%20%E5%8F%8C%E5%87%BB%E9%A2%91%E9%81%93%E8%BF%9B%E8%A1%8C%E6%92%AD%E6%94%BE%EF%BC%8C%E7%82%B9%E5%87%BB%20%2B%20%E5%B1%95%E5%BC%80%E5%88%97%E8%A1%A8%E3%80%81%20-%20%E6%94%B6%E7%BC%A9%E5%88%97%E8%A1%A8%E3%80%82%3C%2Fa%3E%20%20%3Ca%20target%3D'_blank'%20href%3D'http%3A%2F%2Fqq578975936.blog.163.com'%3E%E5%85%8D%E8%B4%B9%E9%AB%98%E6%B8%85%E7%BD%91%E7%BB%9C%E7%94%B5%E8%A7%86%3C%2Fa%3E"	
/>