<cmp	
name = "『期待-电台』" 	
link = "http://520.ucoz.net/1/" 	
description = ""	
logo = ""	
skins = "dt2.swf"	
plugins = ""	
backgrounds = "{src:1.jpg,repeat:xy}"
lists = "1.xml"	
src_handler = ""	
lrc_handler = ""	
skin_id = "1"
play_id = "1"
auto_play = "true"	
list_delete = ""	
sound_sample = "true"
mixer_displace = "true"	
mixer_filter = "true"	
counter = ""
/>